@namespace InfowareSoft.Blazor.MaterialDesign.Components
@inherits MDCheckBoxUnmanagedBase

<div class="@ClassMapper.Class" @ref="Ref" @attributes="@Attributes">
    <input type="checkbox" class="mdc-checkbox__native-control" id="@Id" aria-labelledby="@LabelledBy"
           disabled="@DisabledInput"
           checked="@Value" />

    <div class="mdc-checkbox__background">
        <svg class="mdc-checkbox__checkmark"
             viewBox="0 0 24 24">
            <path class="mdc-checkbox__checkmark-path"
                  fill="none"
                  d="M1.73,12.91 8.1,19.28 22.79,4.59" />
        </svg>
        <div class="mdc-checkbox__mixedmark"></div>
    </div>

    @if (TouchWrapper != null)
    {
        <div class="mdc-button__touch"></div>
    }
</div>
@if (Label != null || ChildContent != null)
{
    <label for="@Id">@Label@ChildContent</label>
}

@code {
}
