@namespace InfowareSoft.Blazor.MaterialDesign.Components
@inherits MDRadioUnmanagedBase

<div class="@ClassMapper.Class" @ref="Ref" @attributes="@Attributes">
    <input class="mdc-radio__native-control" type="radio" id="@Id"
           name="@Name"
           aria-labelledby="@LabelledBy"
           disabled="@DisabledInput"
           value="@Value"
           checked="@Checked" />

    <div class="mdc-radio__background">
        <div class="mdc-radio__outer-circle"></div>
        <div class="mdc-radio__inner-circle"></div>
    </div>
</div>
@if (Label != null || ChildContent != null)
{
    <label for="@Id">@Label@ChildContent</label>
}

@code {
}
