@namespace InfowareSoft.Blazor.MaterialDesign.Components
@inherits DOMComponent

<button class="@ClassMapper.Class" @ref="Ref" aria-label="@(Variant == MDFabVariant.Extended ? null: Label)" @attributes="@Attributes">
    <div class="mdc-fab__ripple"></div>
    @ChildContent
    @if (Icon.HasValue)
    {
        <MDIcon Class="mdc-fab__icon" aria-hidden="true" Icon="@Icon.Value"></MDIcon>
    }
    @if (this.Label != null && Variant == MDFabVariant.Extended)
    {
        <span class="mdc-fab__label">@Label</span>
    }
</button>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        ClassMapper.Add("mdc-fab")
            .Variant(() => Variant.GetName())
            .If(() => Exited, "mdc-fab--exited");
    }

    [Parameter] public string Label { get; set; }
    [Parameter] public MDIconEnum? Icon { get; set; }
    [Parameter] public bool Exited { get; set; }

    [Parameter] public MDFabVariant Variant { get; set; } = MDFabVariant.Default;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsInvokeAsync<object>("mdcjs.mdFab.init", Ref);
        }
    }
}
