@namespace InfowareSoft.Blazor.MaterialDesign.Components
@inherits MDListItemBase

<CascadingValue Value=this Name="MDListItem">
    <As Tag="@Tag.GetName()" class="@ClassMapper.Class" role="@ClassMapperRole.Class" tabindex="@TabIndex" @bind-ElementRef="Ref" @attributes="@Attributes"
        aria-checked="false">
        @if (Icon.HasValue)
        {
            <span class="mdc-list-item__graphic material-icons" aria-hidden="true">@Icon.Value.GetName()</span>
        }
        <span class="mdc-list-item__ripple"></span>
        @if (IsListBox())
        {
            <span class="mdc-list-item__text">
                @if (IsTwoLine())
                {
                    <span class="mdc-list-item__primary-text">@Text</span>
                    <span class="mdc-list-item__secondary-text">@SecondaryText</span>
                }
                else
                {
                    @Text
                }
            </span>
            @if (TrailingIcon.HasValue)
            {
                <span class="mdc-list-item__meta material-icons" aria-hidden="true">@TrailingIcon.Value.GetName()</span>
            }
        }
        else if (IsRadio())
        {
            <span class="mdc-list-item__graphic">
                <MDRadio_Unmanaged Id="@Id" Name="@Name" Value="@Value"></MDRadio_Unmanaged>
            </span>
            <label class="mdc-list-item__text" for="@Id">@Text</label>
        }
        else if (IsCheckBox())
        {
            <span class="mdc-list-item__graphic">
                <MDCheckBox_Unmanaged Id="@Id" Name="@Name"></MDCheckBox_Unmanaged>
            </span>
            <label class="mdc-list-item__text" for="@Id">@Text</label>
        }
        @ChildContent
    </As>
</CascadingValue>

@code {
    //https://material.io/components/lists/web
}
