@namespace InfowareSoft.Blazor.MaterialDesign.Components
@inherits MDButtonBase

<button class="@ClassMapper.Class" @ref="Ref" @onclick="OnClickHandler" data-mdc-dialog-action="@DialogAction" @attributes="@Attributes">
    <div class="mdc-button__ripple"></div>
    @if (Icon.HasValue)
    {
        <MDIcon Class="mdc-button__icon" aria-hidden="true" Icon="@Icon.Value"></MDIcon>
    }
    @if (this.Label != null)
    {
        <span class="mdc-button__label">@Label</span>
    }
    @ChildContent
    @if (TrailingIcon.HasValue)
    {
        <MDIcon Class="mdc-button__icon" aria-hidden="true" Icon="@TrailingIcon.Value"></MDIcon>
    }
    @if (TouchWrapper != null)
    {
        <div class="mdc-button__touch"></div>
    }
</button>

@code {
}
